11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [3]:
import zoo 
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [7]:
import zoo as menagerie 
menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [9]:
from sqlalchemy import create_engine, MetaData, Table


engine = create_engine("sqlite:///books.db")


metadata = MetaData()
metadata.reflect(bind=engine)


book_table = metadata.tables["books"]


with engine.connect() as connection:
    result = connection.execute(book_table.select().order_by(book_table.c.title))
    
    for row in result:
        print(row.title)

1984
1984
The Great Gatsby
The Great Gatsby
To Kill a Mockingbird
To Kill a Mockingbird